﻿@model IEnumerable<MoneyTransfer.Models.Transaction>

@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transaction</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ActionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToUser)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToUser)
            </td>
        </tr>
}
    </tbody>
</table>
