﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using MoneyTransfer.Models
@model MoneyTransfer.Models.User
@{
    ViewData["Title"] = "AddBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Balance</h2>
<form method="post" asp-controller="Home" asp-action="AddBalance"
      asp-route-returnUrl="@Model">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="CashNumber"></label><br />
        <input asp-for="CashNumber" />
        <span asp-validation-for="CashNumber"></span>
    </div>
    <div>
        <label asp-for="Balance"></label><br />
        <input asp-for="Balance" />
        <span asp-validation-for="Balance"></span>
    </div>
    <div>
        <input type="submit" value="Add Balance" />
    </div>
</form>

